<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <h1>Game of Thrones Portfolio</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/manage">Manage Portfolio</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/currency">Currency</a></li>
    </ul>
  </nav>
  <div class="carousel">
    <% items.forEach(item => { %>
      <div class="carousel-item">
        <img src="<%= item.image1 %>" alt="<%= item.title %>">
        <h2><%= item.title %></h2>
        <p><%= item.description %></p>
      </div>
    <% }) %>
  </div>
  <script src="/js/script.js"></script>
  <footer class="footer">
    <div class="container">
      <p>Baimuratova Kamila | BDA-2306</p>
    </div>
  </footer>
</body>
</html>
