<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav>
    <h1>Manage Portfolio</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create">Add New</a></li>
    </ul>
  </nav>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <% items.forEach(item => { %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td>
          <a href="/edit/<%= item._id %>">Edit</a>
          <a href="/delete/<%= item._id %>">Delete</a>
        </td>
      </tr>
    <% }) %>
  </table>
  <footer class="footer">
      <div class="container">
        <p>Baimuratova Kamila | BDA-2306</p>
      </div>
    </footer>
</body>
</html>
